.customButton {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.customButtonIcon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.hoverButton:hover {
    background-color: #f64343 !important;
    transition: background-color 0.1s ease;
}